[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
governance = "5jsHpno8jwFTJCzTtqPWFLT96sQqFxiLTD2a8zvmiunj"
presale = "4wdP1DAqMq2F9TjGuodu3axSyJZcNcgTzT7eVp5JQKFN"
spl_project = "HSW8GX2DxvZE3ekSnviVN7LPw2rsHp6EJy4oGDaSYCAz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/01-spl-project.ts tests/02-presale.ts tests/03-complete-coverage.ts"
migrate-presale-pricing = "ts-node scripts/migrate-presale-pricing.ts"
