[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
governance = "8rJ9satfz5SqKx4AJTkLL3y7XwuBRYTz2j7H64kLHQDg"
presale = "9yG757JUMJbWp4WYfUNPp5bhLAVBaHPLpKrTjWxjVURp"
spl_project = "FQmKBpQL956VWS2v6S6t5qUhAc6AcVEvQuXVxP1UMv6P"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
migrate-presale-pricing = "ts-node scripts/migrate-presale-pricing.ts"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/01-spl-project.ts tests/02-presale.ts tests/03-complete-coverage.ts"
