# Solana Network Configuration
NEXT_PUBLIC_SOLANA_NETWORK=mainnet
NEXT_PUBLIC_RPC_URL=https://mainnet.helius-rpc.com/?api-key=519f61a1-0ac3-43b0-8037-f33a83718978

# Token Program Configuration
NEXT_PUBLIC_TOKEN_PROGRAM_ID=6GYb43UvYNuy7dHj495V2euT2Dx3oDKtvFkuYaDj5Kmo
NEXT_PUBLIC_TOKEN_STATE_PDA=D73VL1a9X9ub1NZRy7FmPCv7QxCbchtNwmhJTJqk3C3E
NEXT_PUBLIC_TOKEN_MINT=CMgrXFXeiRuiwpiyhga2BiPQDxDBwbyqq5Re3KQUMCev
NEXT_PUBLIC_TOKEN_METADATA=AB9hVPnxbeFNY1hEHS9vL718w8efGhTW7eVQhYrwijdH
NEXT_PUBLIC_TOKEN_ACCOUNT=HjVcom4wMUNDmSqUZxLukab4tVCtuHkjoohGSScmhduS
NEXT_PUBLIC_TOKEN_NAME=NC Token
NEXT_PUBLIC_TOKEN_SYMBOL=NC
NEXT_PUBLIC_TOKEN_DECIMALS=8
NEXT_PUBLIC_TOKEN_TOTAL_SUPPLY=30000000000

# Governance Program Configuration
NEXT_PUBLIC_GOVERNANCE_PROGRAM_ID=eFgtAai6S3N3dygPG9ajxxHVQJ2evn1o5sZ3LjmYqAL
NEXT_PUBLIC_GOVERNANCE_STATE_PDA=JCEhvt8aVtjZ1XExRFfbxrSqMSf77HUXhbnUjE698Zh4
NEXT_PUBLIC_GOVERNANCE_REQUIRED_APPROVALS=2
NEXT_PUBLIC_GOVERNANCE_COOLDOWN_PERIOD=1800

# Presale Program Configuration
NEXT_PUBLIC_PRESALE_PROGRAM_ID=8DAZJvKw8LzpZMi5aQ3Nj3UZ2LEmL3ieiS7g9E7Gzxyx
NEXT_PUBLIC_PRESALE_STATE_PDA=FcZd9nRYqf6YMVrgLwZrkiCA8RzRGL1B27jJy5knmtpW
NEXT_PUBLIC_PRESALE_TOKEN_PRICE_USD_MICRO=1000

# Treasury Configuration
NEXT_PUBLIC_TREASURY_ADDRESS=7AR2iUkdY6PR5abRRrHfgcLkSJjEKmLBg7CjNcWd9kri

# Governance Signers (comma-separated)
NEXT_PUBLIC_GOVERNANCE_SIGNERS=7AR2iUkdY6PR5abRRrHfgcLkSJjEKmLBg7CjNcWd9kri,5pRAkTdec31NCJ152pJRVPAgGEHydJQ8kwc6oZFdzKJz,8UvcoXkL5epY5e3Q3KFv5EqWLCnTz3ZcmcGfbVjyvQzZ,9Yhqmv2CvHwEzRLmQoSaz6z2C5xGngu5DqRgoNYpMPyj

# Chainlink Configuration (for presale pricing)
NEXT_PUBLIC_CHAINLINK_PROGRAM_ID=HEvSKofvBgfaexv23kMabbYqxasxU3mQ4ibBMEmJWHny
NEXT_PUBLIC_CHAINLINK_SOL_USD_FEED_MAINNET=CH31Xns5z3M1cTAbKW34jcxPPciazARpijcHj9rxtemt
